__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
dist/
build/
estrutura.py
venv

backend/alembic/versions/*.pyc

treinamento/node_modules/
treinamento/dist/
treinamento/.env

.DS_Store
*.log
.idea/
.vscode/

notebooks